version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-dishes
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: anastasija
      POSTGRES_DB: dishes
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
